
* {
    font-size: 50px;
}

#menucontainer {
    border: 1px solid tomato;
    display: inline-block;
}

.option {
    border: 1px solid green;
    display: inline-block;
}

#optionsButton {
    border: 1px solid cyan;
    display: inline-block;
}

.testDiv {
    background-color: aqua;
}

