
* {
    font-size: 50px;
}

#menucontainer {
    border: 1px solid tomato;
    display: inline-block;
}


.option {
    border: 1px solid green;
    display: inline-block;
}

.optionHidden {
    transform: translateX(-50vw);
}

.transition {
    transition: transform 1s ease-in
}

#optionsButton {
    /* display: inline-block; */
    border: 1px solid cyan;
}

.testDiv {
    background-color: aqua;
}

.questionContainer {
    display: flex; 
}

.showHideOptions {
    color: red;
    width: 200px;
    transition: .5s;
}

.showHideOptionsTransition {
    transition: .5s;
    /* color: white;
    background-color: white; */
    width: 70px;
}

.showHideOptionsTransition::before {
    transition: .5s;
    top: 35px;
    transform: rotate(45deg)
}

.showHideOptionsTransition::after {
    transition: .5s;
    top: 35px;
    transform: rotate(135deg)
}

.showHideOptionsTransition::after,
.showHideOptionsTransition::before {
    transition: .5s;
    position: absolute;
    display: inline-block;
    width: 70px;
    height: 7px;
    background-color: red;
    content: "";
}
