
* {
    font-size: 50px;
}

#menucontainer {
    border: 1px solid tomato;
    display: inline-block;
}


.option {
    border: 1px solid green;
    display: inline-block;
    /* transition: transform 200ms ease-in; */
}

.optionHidden {
    transform: translateX(-50vw);
}

.transition {
    transition: transform 1s ease-in
}

#optionsButton {
    border: 1px solid cyan;
    display: inline-block;
}

.testDiv {
    background-color: aqua;
}

